/*
    WYWM Web Development Assignment
    Student: Neil Hipkiss
    Styling for a web page to show infomration on cat breeds based on user-selections
*/

body, html {
    background-color: aqua;
}

h1 {
    font-size: 2.5vw;
    font-family: cursive;
    text-align: center;
    color:blue;
}

p {
    font-size:1vw;
    font-family: cursive;
    color: black;
    text-align: center;
}

.container {
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
    width:95%;
    height:98%;
    justify-content:center;
    margin: auto;
    margin-bottom: 10px;
    background-color: whitesmoke;
}

.top-box{
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    width:95%;
    height:50px;
    background-color:greenyellow;
    justify-content:center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-selector{
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    font-family: cursive;
    width:50%;
    height:80%;
    background-color: yellow;
    justify-content:center;
    text-align: center;
    margin-left:25%;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}


.bottom-box{
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    width:95%;
    height:500px;
    background-color:greenyellow;
    justify-content:center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bottom-left{
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    width: 47%;
    height:95%;
    background-color:yellow;
    justify-content:center;
    margin: auto;
    margin-top: 10px;
    margin-left: 1%;
    padding: 3px;
    margin-bottom: 10px;
}

.bottom-left-top{
    height: 8%;
}

.bottom-left-bottom{
    height: 80%;
}

.bottom-right{
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    font-family: cursive;
    width: 47%;
    height:95%;
    background-color:yellow;
    justify-content:center;
    margin: auto;
    margin-top: 10px;
    margin-right: 1%;
    padding: 3px;
    margin-bottom: 10px;
}

.bottom-right-top{
    height: 8%;
}

.bottom-right-inner1{
    height: 14%;
}

.bottom-right-inner2{
    height: 8%;
}

.bottom-right-inner3{
    height: 15%;
}

.bottom-right-bottom{
    height: 45%;
}

img{
    width: 95%;
    height: 95%;
    object-fit: contain;
}

#left{
    float:left;
}

#right{
    float:right;
}

#breed_selector{
    background-color: yellow;
    text-align: center;
    font-size:1.5vw;
    float:left;
}

#box1 {
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    font-family: cursive;
    background-color:antiquewhite;
    width:95%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.box2 {
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    font-family: cursive;
    background-color:aqua;
    width:90%;
    height: 90%;
    text-align: center;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
}

.box3 {
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    font-family: cursive;
    background-color:aqua;
    width:90%;
    height: 80%;
    text-align: center;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
}