/*
    WYWM Web Development Assignment
    Student: Neil Hipkiss
    Styling for a web page to show user-selected images
    
    Verified version

*/

body, html {
    background-color: aqua;
}

h1 {
    font-size:xx-large;
    text-align: center;
    color:blue;
}

p {
    font-size:large;
    color: black;
    text-align: center;
}

.top-container {
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
    width:95%;
    justify-content: space-evenly;
    margin: 10px;
    background-color: whitesmoke;
}

.top-box{
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    width:30%;
    justify-content: space-evenly;
    margin: 10px;
}

.middle-box{
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    width:30%;
    justify-content: space-evenly;
    margin: 10px;
    margin-bottom: 15px;
}

.bottom-container {
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
    width:95%;
    justify-content: space-evenly;
    margin: 10px;
    background-color: whitesmoke;
}

.bottom-box{
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    width:30%;
    height: 450px;
    justify-content: space-evenly;
    margin: 10px
}

#left {
    background-color: yellow;
    float:left;  
}

#middle {
    background-color:hotpink;
    margin-left: auto;
    margin-right: auto;
}

#right {
    background-color: greenyellow;
    float:right;
}

